---
layout: default
---

<div class="home">

  <h1 class="page-heading">Benchmarks Cloudlab Server (2 socket)</h1>

  <table class="post-table">
    <tr>
      <th>Date</th>
      <th>Commit</th>
      <th>CREW</th>
      <th>EREW</th>
      <th>Comments</th>
    </tr>
    {% for post in site.data.cloudlab %}
    <tr>
      <td>{{ post.date }}</td>
      <td><a href="https://github.com/utah-scs/monster/tree/{{ post.revision }}">{{ post.revision }}</a></td>
      <td> {% if post.crewbench %}
        <a href="{{ site.baseurl }}/cloudlab/crew/{{ post.revision }}/{{ post.crewbench }}">CREW</a>{% endif %}
      </td>
      <td> {% if post.erewbench %}
        <a href="{{ site.baseurl }}/cloudlab/erew/{{ post.revision }}/{{ post.erewbench }}">EREW</a>{%
        endif %}
      </td>
      <td style="font-size:16px">{{ post.comments }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
